x-common:
  &x-common
  env_file:
    - ".env"
  logging:
    options:
      max-file: "5"
      max-size: 10m

x-build:
  &x-build
  image: no-mcp-dev
  build:
    context: .
    target: development

services:
  app-api:
    <<: [ *x-common, *x-build ]
    hostname: mcp
    ports:
      - "127.0.0.1:8000:8000"
    volumes:
      - ./app:/app/app
      - ./tests:/app/tests
    environment:
      API_HOST: 0.0.0.0
      API_PORT: 8000
